
html{
  font-family: 'Nunito', sans-serif;
}
a{
  text-decoration: none;/*la linea de los links donde debe estar*/
  color: #FF0900;
}

/*pseudo clase para la opacidad*/
a:hover{
  opacity: 0.2;
}

img{
  max-width: 100%;
}

.title{
  text-transform: uppercase;
  text-align: center;
}

.paragraph{
  line-height: 1.8em;
  font-weight: 300;
}

.main-image{
  float:left;
  margin-right: 1em;
  height: 250px;
}

.table{
  width: 100%;
  border-spacing: 0;
}

.table td, .table th{
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even){
    background: #85ACCC;

}
.fa-star, .fa-star-o{
  color: #ffc400;
}

.container{
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh; /*ocupe todo el largo y ancho de pantalla el degradados,
  el "vh" representa el alto total de la pantalla y con "vw" el ancho*/
  display: flex;/*utilizan el centrado usando flexbox,tanto vertical como horizontal*/
  align-items: center;
  justify-content: center;
}

.content{
  max-width: 960px;
  width: 100%;
  height: 80vh;
  background-color: white;
  /*box-shadow: diferenciahorizontal diferenciavertical desenfoque amplitu color;*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;

}

.content{
  padding:1em;
}
td{
  display: block;
  weight:100%;
}
td:nth-last-of-type(1){
  font-size: 1.5em;
  font-weight: bold;
  color: #2071B3;
}
th{
  display: none;
}
/*esta es la letra x y su posicion*/
.actions{
  position: absolute;
  top: 1em;
  right: 1em;
}
/*Esta es a etetica de la X*/
.close{
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
  background-color: #fc4a1a;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-weight: 300px;
  cursor: pointer;
  /*por eso colocamos el x en span, para poder centrar la x, con lo que
  viene*/
  display: flex;
  align-items: center;
  justify-content: center;

}

.title-item{
  /*border-bottom-style: solid;
  border-width: 2px;
  border-color: #2071B3;*/
  border-bottom: solid 2px #2071B3;
  padding-bottom: 1em;
  font-size: 2em;
}

.address{
  font-weight: bold;
  font-size: 1.2;
  color: #2071B3;
  margin-top: 2em;
  display: inline-block;
}

.position{
  /*todo eso tiene que ver con el numero
  la posicion, el color, el padding y los bordes*/
  background-color:  #fc4a1a;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
  margin-right: 0.5em;

}

/*condicionales para pantallas pequeñasque sucede en dicho caso.*/

@media (min-width:900px){
  .content{
    padding:1.8em;
  }
  td{
    display: table-cell;
    }
  td:nth-last-of-type(1){
    font-size: 1em;

  }
  th{
    display: table-cell;
  }
}

@media (min-height:550px){
  .content{
    height: 500px;
  }
}
/*
Rojo: #FF0900
Amarillo: #F8FF4A
Marron: #B34844
Azul suave: #85ACCC
Azul: #2071B3
*/
